@model GameViewModel


<div class="create-game">
    <div class="data">
        <form method="post" enctype="multipart/form-data">
            <div>
                Name: @Html.TextBoxFor(x => x.Name)
                @Html.ValidationMessageFor(x=>x.Name)
            </div>
            <div>
                Price: @Html.TextBoxFor(x => x.Price)
                @Html.ValidationMessageFor(x=>x.Price)
            </div>
            <div>
                CoverUrl:
                @*@Html.TextBoxFor(x => x.CoverUrl)*@
                <input type="file" name="@(nameof(GameViewModel.CoverFile))" />
                @Html.ValidationMessageFor(x=>x.CoverUrl)
            </div>
            <div>
                <input type="submit" value="Create game" />
            </div>
        </form>
    </div>
    <div class="preview">
        <div>
            Game name: <span class="name">Tetris</span> <span class="price">0</span>$
        </div>
        <div class="preview-container">
            <img />
        </div>
    </div>
</div>

@section JScript{
    <script src="~/js/createGame.js"></script>
}

@section Styles{
    <link rel="stylesheet" href="~/css/game.css/" />
}
