@model GameViewModel

<div>
    <form method="post">
        @Html.HiddenFor(x=>x.Id)
        <input type="hidden" value="@Model.Id" />

        <img src="@Model.CoverUrl" />

        <div>
            Name: @Html.TextBoxFor(x=>x.Name)
        </div>

        <div>
            CoverUrl: @Html.TextBoxFor(x=>x.CoverUrl)
            <input name="CoverUrl" />
        </div>

        <div class="genre-container">
            @foreach (var genre in Model.AvailableGenres)
            {
                <span class="genre">
                    <label>
                        <input 
                            @(Model.Genres.Contains(genre)
                                ?"checked='checked'"
                                :"")
                            type="checkbox" 
                            value="@genre" 
                            name="@nameof(GameViewModel.Genres)" />
                        @genre
                    </label>
                </span>
            }
        </div>

        <div>
            <input type="submit" value="Update" />
        </div>
    </form>
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/game.css" />
}