@model CartItemViewModel

<div>
    <form method="post">
        @Html.HiddenFor(x=>x.Id)
        <input type="hidden" value="@Model.Id" />

        <img class="coverImg" src="@Model.ImgUrl" />

        <div class="tags-container">
            @foreach (var tag in Model.AvailableTags)
            {
                    <span class="tag">
                        <label>
                            <input 
                            @(Model.Tags.Contains(tag)
                                ?"checked='checked'"
                                :"")
                            type="checkbox" 
                            value="@tag" 
                            name="@nameof(CartItemViewModel.Tags)" />
                        @tag
                        </label>
                    </span>
            }
        </div>

        <div>
            <input type="submit" value="Update" />
        </div>
    </form>
</div>


@section Styles{
    <link rel="stylesheet" href="~/css/styleCartPage.css" />
}